mixin member(src, name, href, twitter)
  .team-member.column
    img.avatar(src=src, alt=name)
    p.avatar-name= name
    a.avatar-twitter(href=href)= twitter

section#ambassadors.team
  h2 Ambassadors
  p The conference would not be possible without the support from a number of established individuals from the Community.
  .container.cf
    +member('/images/team/adam.jpg', 'Adam Sontag', 'https://twitter.com/ajpiano', '@ajpiano')
    +member('/images/team/dave.jpg', 'Dave Nugent', 'https://twitter.com/drnugent', '@drnugent')
    +member('/images/team/jade.jpg', 'Jade Q Wang', 'https://twitter.com/qiqing', '@qiqing')
    +member('/images/team/jennison.jpg', 'Jennison Asuncion', 'https://twitter.com/Jennison', '@Jennison')
    +member('/images/team/karolina.jpg', 'Karolina Szczur', 'https://twitter.com/fox', '@fox')
    +member('/images/team/kris.jpg', 'Kris Borchers', 'https://twitter.com/kborchers', '@kborchers')
    +member('/images/team/mikeal.png', 'Mikeal Rogers', 'https://twitter.com/mikeal', '@mikeal')
