section#accessibility.coc
  h2 Accessibility
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.
  ul
    li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  p Fusce varius metus eget enim placerat iaculis eget eget ligula. Nulla sed nunc ligula. Cras eget est posuere, faucibus elit ut, dictum felis.
  hr#coc
  h2 Code of Conduct
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.