//- section#accessibility.coc
  //- h2 Accessibility
  //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.
  //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.
  //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.
  //- ul
  //-   li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  //-   li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  //-   li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  //-   li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  //-   li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  //- p Fusce varius metus eget enim placerat iaculis eget eget ligula. Nulla sed nunc ligula. Cras eget est posuere, faucibus elit ut, dictum felis.
  //- hr#coc
section#coc.coc
  h2 Code of Conduct
  p 
    | We aim to make the environment at our conference both safe and welcoming. Our code of conduct can be found at 
    a(href='/coc.html') this link
  p
    | All speakers, attendees, sponsors, and volunteers will be expected to adhere to the guidelines of the Code of Conduct.
  