section.events
    h2.headline Events
    .container.cf
        div
            .column
                img(src="../images/bazaar.png")
                p
                    | Rather than selling booths to the highest bidder
                    | we are going to be offering free booths and signage
                    | to free and open source projects from across the web.
                p
                    | We invite you to apply to take part in this unique
                    | opportunity.  It will be a fantastic way to reach out
                    | to your community, as well as get direct feedback!
                br
                br
                a.btn.bazaar(href='https://github.com/jQuerySF/Open-Source-Bazaar-2015') Apply via a Github Issue
            .column
                img(src="../images/gallery.png")
                p
                    | We are quite aware that the web community is made
                    | of some of the most creative individuals on the planet.
                    | As part of the conference we will be curating a gallery
                    | of generative art that will be on display during the entire conference.
                p
                    | We are looking for static prints, generative displays, interactive installations,
                    | and any other ways in which you can think of harnessing the power of web technology
                    | to create a unique and engaging experience.
                a.btn.gallery(href='https://github.com/jQuerySF/Generative-Art-2015') Submit a project as a Github Issue
