meta(property='og:title' content='jQuerySF 2015')
meta(property='og:type' content='website')
meta(property='og:url' content='http://jQuerySF.com')
meta(property='og:description' content='Famo.us presents the 2015 jQuerySf conference June 22nd and 23rd at the Regency Ballroom.  Please join us for two days of fantastic talks about the latest technology in front end development.')
meta(property='og:site_name' content='jQuerySf')
meta(property='fb:admins' content='500011502,8055,540108906,504445166')
meta(property='og:image' content='http://jquerysf.com/images/jqsf-logo.jpg')
