header.hero
  //- a.btn.btn-ticket.revel-nav-ticket(href='https://ti.to/jquerysf/2015') Buy Tickets
  //- .container
  //-   img(src="../images/jqsf-logo-big.svg")
  //-
  //-   h2 a new type of conference
  //-   p.date June 22-23, 2015
  //-   p.location San Francisco, CA
  //- include ../partials/livestream-day-one.html
  include ../partials/livestream-day-two.html
  .stream-link.btn
    :markdown
      [Stream Live on Youtube](https://www.youtube.com/watch?v=Tjwm9yPzBGg)
  .caption-link
    :markdown
      [Live Captioning on streamtext.net](https://www.streamtext.net/player?event=JQSF)
  