header.hero
  // This header image is by Debasis Photography on Flickr
  // licensed under Creative Commons - https://www.flickr.com/photos/debasis123/3075338655

  .container
    img(src="../images/jqsf-logo-big.svg")

    h2 a new type of conference
    p.date June 22-23, 2015
    p.location San Francisco, CA