header.hero
  a.btn.btn-ticket.revel-nav-ticket(href='https://ti.to/jquerysf/2015') Buy Tickets
  .container
    img(src="../images/jqsf-logo-big.svg")

    h2 a new type of conference
    p.date June 22-23, 2015
    p.location San Francisco, CA