mixin member(src, name, href, twitter)
  .team-member.column
    img.avatar(src=src, alt=name)
    p.avatar-name= name
    a.avatar-twitter(href=href)= twitter

section#organizers.team
  h2 Organizers
  p 
    | The conference is being thoughtfully curated by a team from 
    a(href='https://famo.us' alt='Famo.us') Famo.us Industries
  .container.cf
    +member('/images/team/barto.jpg', 'Greg Barto', 'https://twitter.com/bartozone', '@bartozone')
    +member('/images/team/mei.jpg', 'Mei Chen', 'https://twitter.com/meichen', '@meichen')
    +member('/images/team/myles.jpg', 'Myles Borins', 'https://twitter.com/thealphanerd', '@thealphanerd')
    +member('/images/team/steve.jpg', 'Steve Newcomb', 'https://twitter.com/stevenewcomb', '@stevenewcomb')
