section.social
  .container.cf
    .social-links
      a.twitter(href='https://twitter.com/jquerysf') @jQuerySF
    form.subscribe
      input(type='email' placeholder='Email Address')
      button.btn.btn-primary.btn-small(type='submit') Get updates