section.social
  .container.cf
    .social-links
      a.twitter(href='https://twitter.com/jquerysf') @jQuerySF
    form.subscribe(action="//famo.us5.list-manage.com/subscribe/post?u=4656ba2b0a364690c8530bc1e&amp;id=e38d702e79" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
      input.required.email#mce-EMAIL(type='email' placeholder='Email Address' name='EMAIL' label'enter your email address here to sign up for the newsletter')
      button.btn.btn-primary.btn-small(type='submit') Get updates