section#sponsors.sponsors
  h2 Sponsors
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .container.cf
    a.sponsor(href='')
      img(src='images/temp/logo1.svg' alt='')
    a.sponsor(href='')
      img(src='images/temp/logo2.svg' alt='')
    a.sponsor(href='')
      img(src='images/temp/logo3.svg' alt='')
    a.sponsor(href='')
      img(src='images/temp/logo1.svg' alt='')
    a.sponsor(href='')
      img(src='images/temp/logo2.svg' alt='')
    a.sponsor(href='')
      img(src='images/temp/logo1.svg' alt='')