link(href='/images/favicon.ico?v=2' rel='shortcut icon')
link(href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet')

link(rel='stylesheet', href='css/main.css')

// GA
include ./ga.jade