mixin speaker(src, name, href, twitter)
  .speaker.column
    img.avatar(src=src, alt=name)
    p.avatar-name= name
    a.avatar-twitter(href=href)= twitter

section#talks.talks
  h2 Talks
  p 6 Total Sessions, 18 talks, 2 Keynotes

  .keynotes.cf
    h3 Keynote Speakers
    +speaker('images/temp/avatar1.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')
    +speaker('images/temp/avatar1.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')

  .container.dual-column.cf

    .session.column.cf
      h3 Session 1: Title of session
      +speaker('images/temp/avatar1.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')
      +speaker('images/temp/avatar2.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')
      +speaker('images/temp/avatar3.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')

    .session.column.cf
      h3 Session 2: Title of session
      +speaker('images/temp/avatar4.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')
      +speaker('images/temp/avatar5.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')
      +speaker('images/temp/avatar6.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')

    .session.column.cf
      h3 Session 3: Title of session
      +speaker('images/temp/avatar1.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')
      +speaker('images/temp/avatar2.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')
      +speaker('images/temp/avatar3.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')

    .session.column.cf
      h3 Session 4: Title of session
      +speaker('images/temp/avatar4.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')
      +speaker('images/temp/avatar5.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')
      +speaker('images/temp/avatar6.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')

    .session.column.cf
      h3 Session 5: Title of session
      +speaker('images/temp/avatar1.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')
      +speaker('images/temp/avatar2.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')
      +speaker('images/temp/avatar3.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')

    .session.column.cf
      h3 Session 6: Title of session
      +speaker('images/temp/avatar4.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')
      +speaker('images/temp/avatar5.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')
      +speaker('images/temp/avatar6.jpg', 'First Lastname', 'https://twitter.com/jquerysf', '@firstlastname')