section#talks.talks
  h2 Talks
  p 6 Total Sessions, 18 talks, 2 Keynotes
  .container.cf
    .session.column.cf
      h3 Session 1: Title of session
      .speaker.column
        img.avatar(src='images/temp/avatar1.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
      .speaker.column
        img.avatar(src='images/temp/avatar2.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
      .speaker.column
        img.avatar(src='images/temp/avatar3.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
    .session.column.cf
      h3 Session 2: Title of session
      .speaker.column
        img.avatar(src='images/temp/avatar4.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
      .speaker.column
        img.avatar(src='images/temp/avatar5.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
      .speaker.column
        img.avatar(src='images/temp/avatar6.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
    .session.column.cf
      h3 Session 3: Title of session
      .speaker.column
        img.avatar(src='images/temp/avatar1.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
      .speaker.column
        img.avatar(src='images/temp/avatar2.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
      .speaker.column
        img.avatar(src='images/temp/avatar3.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
    .session.column.cf
      h3 Session 4: Title of session
      .speaker.column
        img.avatar(src='images/temp/avatar4.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
      .speaker.column
        img.avatar(src='images/temp/avatar5.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
      .speaker.column
        img.avatar(src='images/temp/avatar6.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
    .session.column.cf
      h3 Session 5: Title of session
      .speaker.column
        img.avatar(src='images/temp/avatar1.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
      .speaker.column
        img.avatar(src='images/temp/avatar2.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
      .speaker.column
        img.avatar(src='images/temp/avatar3.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
    .session.column.cf
      h3 Session 6: Title of session
      .speaker.column
        img.avatar(src='images/temp/avatar4.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
      .speaker.column
        img.avatar(src='images/temp/avatar5.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname
      .speaker.column
        img.avatar(src='images/temp/avatar6.jpg' alt='')
        p.avatar-name First LastName
        a.avatar-twitter(href='') @firstlastname