
section#team.team
  h2 Organizers & Ambassadors
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante.
  .container.cf
    .team-member.column
      img.avatar(src='images/temp/avatar1.jpg' alt='')
      p.avatar-name First LastName
      a.avatar-twitter(href='') @firstlastname
    .team-member.column
      img.avatar(src='images/temp/avatar2.jpg' alt='')
      p.avatar-name First LastName
      a.avatar-twitter(href='') @firstlastname
    .team-member.column
      img.avatar(src='images/temp/avatar3.jpg' alt='')
      p.avatar-name First LastName
      a.avatar-twitter(href='') @firstlastname
    .team-member.column
      img.avatar(src='images/temp/avatar4.jpg' alt='')
      p.avatar-name First LastName
      a.avatar-twitter(href='') @firstlastname
    .team-member.column
      img.avatar(src='images/temp/avatar5.jpg' alt='')
      p.avatar-name First LastName
      a.avatar-twitter(href='') @firstlastname
    .team-member.column
      img.avatar(src='images/temp/avatar1.jpg' alt='')
      p.avatar-name First LastName
      a.avatar-twitter(href='') @firstlastname
    .team-member.column
      img.avatar(src='images/temp/avatar2.jpg' alt='')
      p.avatar-name First LastName
      a.avatar-twitter(href='') @firstlastname
    .team-member.column
      img.avatar(src='images/temp/avatar3.jpg' alt='')
      p.avatar-name First LastName
      a.avatar-twitter(href='') @firstlastname
    .team-member.column
      img.avatar(src='images/temp/avatar4.jpg' alt='')
      p.avatar-name First LastName
      a.avatar-twitter(href='') @firstlastname
    .team-member.column
      img.avatar(src='images/temp/avatar5.jpg' alt='')
      p.avatar-name First LastName
      a.avatar-twitter(href='') @firstlastname