mixin member(src, name, href, twitter)
  .team-member.column
    img.avatar(src=src, alt=name)
    p.avatar-name= name
    a.avatar-twitter(href=href)= twitter

section#team.team
  h2 Organizers & Ambassadors
  p The conference is being thoughtfully curated by a number of talented and established individuals from the Community.
  .container.cf
    +member('/images/team/adam.jpg', 'Adam Sontag', 'https://twitter.com/ajpiano', '@ajpiano')
    +member('/images/team/jade.jpg', 'Jade Q Wang', 'https://twitter.com/qiqing', '@qiqing')
    +member('/images/team/jennison.jpg', 'Jennison Asunction', 'https://twitter.com/Jennison', '@Jennison')
    +member('/images/team/karolina.jpg', 'Karolina Szczur', 'https://twitter.com/fox', '@fox')
    +member('/images/team/kris.jpg', 'Kris Borchers', 'https://twitter.com/kborchers', '@kborchers')
    +member('/images/team/myles.jpg', 'Myles Borins', 'https://twitter.com/thealphanerd', '@thealphanerd')
