section#tickets.tickets
  h2 Tickets
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.
  .container.cf
    h3 Full event tickets
    .ticket-list
      .ticket.cf.sold-out
        p Early Bird
        a.btn.btn-primary.btn-small(href='') $150
      .ticket.cf
        p General Admission
        a.btn.btn-primary.btn-small(href='') $300
      .ticket.cf
        p Scholarship
        a.btn.btn-primary.btn-small(href='') Free
    h3 Perks only tickets
    .ticket-list
      .ticket.cf
        p After party only
        a.btn.btn-primary.btn-small(href='') $20
      .ticket.cf
        p FamousTV access only
        a.btn.btn-primary.btn-small(href='') $20