mixin ticket(type, href, price)
  .ticket.cf&attributes(attributes)
    p= type
    a.btn.btn-primary.btn-small(href=href)= price

section#tickets.tickets
  h2 Tickets
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.
  .container.cf
    .column
      h3 Full event tickets
      .ticket-list
        +ticket('Early Bird', 'https://google.com', '$150')(class='sold-out')
        +ticket('General Admission', 'https://google.com', '$300')
        +ticket('Scholarship', 'https://google.com', 'Free')
    .column
      h3 Perks only tickets
      .ticket-list
        +ticket('After party only', 'https://google.com', '$20')
        +ticket('FamousTV access only', 'https://google.com', '$20')