section.values
  .container.cf
    .column
      h2 Utility
      p Speakers will deliver high utility talks, including tools and information attendees can immediately put into action
    .column
      h2 Diversity
      p Event design will focus on creating an inclusive welcoming atmosphere. We have made it a top priority to remove barriers that may hinder people from participating and getting value out of this event
    .column
      h2 Rebirth
      p The theme of this year’s conference is Rebirth and a celebration of new and old technologies and companies coming together to breath new life into web development