section.values
  .container.cf
    .column
      h2 Utility
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.
    .column
      h2 Diversity
      p Fusce varius metus eget enim placerat iaculis eget eget ligula. Nulla sed nunc ligula. Cras eget est posuere, faucibus elit ut, dictum felis.
    .column
      h2 Relevancy
      p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus semper urna in facilisis hendrerit.