div#venue
section.venue
  #map-canvas
  .venue-photo
  .container.cf
    .venue-info
      h2 Venue
      h3 The Regency Ballroom
      address
        span 1300 Van Ness Avenue
        span San Francisco, CA
      p This stunning location features blonde hardwood floors, a million dollar sound system, a horseshoe-shaped balcony and a built-in stage. Noted as a fine example of Scottish Rite architecture, which includes neoclassic and beaux arts styles, the Regency Building was built in 1909.
      p The Grand Ballroom is a beaux-art treasure with thirty-five foot ceilings and twenty-two turn-of-the-century teardrop chandeliers.