section#venue.venue

  .container
      .column
        #map-canvas
      .column.location
          h3 The <span>Regency</span> Ballroom
          hr
          a(href='https://en.wikipedia.org/wiki/The_Regency_Center') Learn More
          hr
