div#venue
section.venue
  #map-canvas
  .venue-photo
  .container.cf
    .venue-info
      h2 Venue
      h3 The Regency Ballroom
      address
        span 1300 Van Ness Avenue
        span San Francisco, CA
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut.
      p Donec tincidunt elementum feugiat. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.