section.workshops
  h2 Workshops
  p 4 workshops, 2 per day, 3 hours each
  .container.cf
    .workshop.column
      h3 Workshop Title
      p.workshop-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.
    .workshop.column
      h3 Workshop Title
      p.workshop-description Fusce varius metus eget enim placerat iaculis eget eget ligula. Nulla sed nunc ligula. Cras eget est posuere, faucibus elit ut, dictum felis.
    .workshop.column
      h3 Workshop Title
      p.workshop-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor dictum ante, et pellentesque diam viverra ut. Donec tincidunt elementum feugiat.
    .workshop.column
      h3 Workshop Title
      p.workshop-description Fusce varius metus eget enim placerat iaculis eget eget ligula. Nulla sed nunc ligula. Cras eget est posuere, faucibus elit ut, dictum felis.