doctype html
html(lang='en')
  include partials/head.jade

  body#top
    section
      a(href='http://jquerysf.com')
        h2 looks like you broke it
      a(href='http://jquerysf.com')
        h3 404'd
    // Hero section
    include partials/hero.jade
    // Footer
    include partials/footer.jade
    
    // GA
    include partials/ga.jade
    
    include partials/scripts.jade