doctype html
html(lang='en')
  include partials/head.jade

  body#top
    nav.nav-main.cf
      a.home(href='http://jquerysf.com') jQuerySF
    section
      include:markdown partials/coc.md
    
    include partials/footer.jade