doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    title JQuerySF 2015

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet')

    link(rel='stylesheet', href='css/main.css')

    script(src='https://maps.googleapis.com/maps/api/js')
    script(src='js/map.js')

  body

    header.hero

      nav.nav-main.cf
        a.home(href='/') JQuerySF
        a(href='#talks') Events
        a(href='#tickets') Tickets
        a(href='#accessibility') Accessibility
        a(href='#coc') Code of Conduct
        a(href='#sponsors') Sponsors
        a(href='#team') Team

      .container
        h1 JQuerySF
        h2 a new type of conference
        p.date June 22-23, 2015
        p.location San Francisco, California

    // Conference values
    include partials/values.jade

    // Talks section
    include partials/talks.jade

    // Workshops section
    include partials/workshops.jade

    // Bazaar + Gallery section
    include partials/galleries.jade

    // Tickets
    include partials/tickets.jade

    // Venue section
    include partials/venue.jade

    // Accessibility and code of conduct section
    include partials/coc.jade

    // Sponsors section
    include partials/sponsors.jade

    // Team section
    include partials/team.jade

    // Footer
    footer.site-footer