extends ../layouts/layout.jade

block content
  section
    a(href='http://jquerysf.com')
      h2 looks like you broke it
    a(href='http://jquerysf.com')
      h3 404'd
  // Hero section
  include ../partials/hero.jade
