extends ../layouts/layout.jade

block vars
    - var title = "Code of Conduct"

block content

    // heading
    include ../partials/secondary-header.jade

    section.coc
        include:markdown ../content/coc.md
