extends ../layouts/layout.jade

block content
  // Hero section
  include ../partials/hero.jade

  // Conference values
  include ../partials/values.jade

  // Social cals to action
  include ../partials/social.jade

  // Speakers section
  include ../partials/speakers.jade

  // Bazaar + Gallery section
  include ../partials/galleries.jade

  // ambassadors section
  include ../partials/ambassadors.jade

  // Workshops section
  //- include ../partials/workshops.jade


  // Schedule
  //- include ../partials/schedule.jade

  // Tickets
  include ../partials/tickets.jade

  // Venue section
  include ../partials/venue.jade

  // Accessibility and code of conduct section
  include ../partials/coc.jade

  // Sponsors section
  //- include ../partials/sponsors.jade

  // organizers section
  include ../partials/organizers.jade
