extends ../layouts/layout.jade

block content
  // Hero section
  include ../partials/hero.jade

  // Conference values
  include ../partials/values.jade

  // Speakers section
  include ../partials/speakers.jade
  
  //- section.tickets
  //-     h2.headline Tickets
  //-     p
  //-       |Join us!
  //-       |We’d love to have you.
  //-     a.btn(href="https://ti.to/jquerysf/2015") Get Tickets

  // Events section
  include ../partials/events.jade

  // Venue section
  h2.headline Venue
  include ../partials/venue.jade


block scripts
  script(src='//maps.googleapis.com/maps/api/js')
  script(src='/js/map.js')
