extends ../layouts/layout.jade

block vars
    - var title = "Location"

block content

  // heading
  include ../partials/secondary-header.jade

    // Venue section
  include ../partials/venue.jade

block scripts
  script(src='//maps.googleapis.com/maps/api/js')
  script(src='/js/map.js')
