extends ../layouts/layout.jade

block content
  // Hero section
  include ../partials/hero.jade

  // Conference values
  include ../partials/values.jade

  // Social cals to action
  //include ../partials/social.jade

  // Speakers section
  include ../partials/speakers.jade

  // Events section
  include ../partials/events.jade

  // Venue section
  h2.headline Venue
  include ../partials/venue.jade

  // ambassadors section
  //include ../partials/ambassadors.jade

  // Workshops section
  //- include ../partials/workshops.jade


  // Schedule
  //- include ../partials/schedule.jade

  // Tickets
  //include ../partials/tickets.jade
  section.tickets
      h2.headline Tickets
      p
        |Join us!
        |We’d love to have you.
      a.btn(href="/tickets.html") Get Tickets

  // Accessibility and code of conduct section
  //include ../partials/coc.jade

  // Sponsors section
  //- include ../partials/sponsors.jade

  // organizers section
  //include ../partials/organizers.jade

block scripts
  script(src='//maps.googleapis.com/maps/api/js')
  script(src='/js/map.js')
  include ../partials/twitter-conversion.html
