//Font set
$fonts-regular = normal normal 400 1em/1em 'Lato',Helvetica,Arial,sans-serif;
$fonts-light = normal normal 100 1em/1em 'LatoLight',Helvetica,Arial,sans-serif
$fonts-very-light = normal normal 100 1em/1em 'LatoHairline',Helvetica,Arial,sans-serif
$fonts-bold = normal normal 100 1em/1em 'LatoBold',Helvetica,Arial,sans-serif
$fonts-very-bold = normal normal 100 1em/1em 'LatoBlack',Helvetica,Arial,sans-serif
$fonts-code = normal normal 100 1em/1em 'Source Code Pro',Courier,monospace

$fonts-lora-regular = normal normal 400 1em/1em 'Lora',Helvetica,Arial,sans-serif;
$fonts-lora-bold = normal normal 700 1em/1em 'Lora',Helvetica,Arial,sans-serif;

$background-primary = white
$background-secondary = #5c5f74

$foreground-primary = #5C5F74
$foreground-secondary = white
$foreground-tertiary = #50CAC6

$colors-border = #ecedee

//hero
$fonts-hero-primary = $fonts-light
$fonts-hero-secondary = $fonts-lora-regular
$colors-hero-foreground-primary = $foreground-secondary
$colors-hero-foreground-secondary = $foreground-primary

//values
$fonts-values-heading = $fonts-bold
$fonts-values-body = $fonts-lora-regular
$colors-values-heading = $foreground-tertiary
$colors-values-body = $foreground-primary

//speakers
$fonts-speakers-heading = $fonts-very-bold
$fonts-speakers-subheading = $fonts-lora-regular
$fonts-speakers-body = $fonts-regular
$colors-speakers-background = $background-secondary
$colors-speakers-heading = $foreground-tertiary
$colors-speakers-subheading = $foreground-secondary
$colors-speakers-body = $foreground-tertiary

//events
$fonts-events-body = $fonts-regular
$fonts-events-button = $fonts-regular
$colors-events-foreground = $foreground-primary
$colors-events-background = $background-primary

//venue
$fonts-venue-primary = $fonts-lora-regular
$fonts-venue-secondary = $fonts-light
$colors-venue-foreground = $foreground-secondary
$colors-venue-background = $background-primary
$colors-venue-location-background = $background-secondary

//tickets
$fonts-tickets-primary = $fonts-lora-regular
$fonts-tickets-countdown = $fonts-regular
$fonts-tickets-countdown-heading = $fonts-bold
$colors-tickets-foreground = $foreground-primary
$colors-tickets-countdown-foreground = $foreground-secondary
$colors-tickets-countdown-background = $foreground-tertiary

//nav
$colors-nav-background = rgba(255,255,255,0.95)
$colors-nav-foreground = $foreground-primary
$fonts-nav = $fonts-regular

//secondary
$fonts-secondary-heading = $fonts-lora-regular
$colors-secondary-heading-foreground = $foreground-tertiary
$colors-secondary-heading-background = $background-secondary

//speakers
$colors-speakers-heading = $foreground-tertiary
$colors-speakers-foreground = $foreground-secondary
$colors-speakers-background = $background-secondary

//speaker
$fonts-speaker-heading-label = $fonts-very-bold
$fonts-speaker-heading = $fonts-lora-regular
$fonts-speaker-bio-heading = $fonts-bold
$fonts-speaker-bio-subheading = $fonts-light
$fonts-speaker-bio-label = $fonts-very-bold
$fonts-speaker-bio-body = $fonts-lora-regular
$fonts-speaker-details-label = $fonts-regular
$fonts-speaker-details-value = $fonts-lora-regular
$colors-speaker-foreground = $foreground-primary
$colors-speaker-heading-background = #69ffb4
$colors-speaker-bio-foreground = $foreground-secondary
$colors-speaker-bio-background = $background-secondary
$colors-speaker-body-background = $background-primary

