//- Buttons

.btn
  margin: 15px 0
  padding: 15px 20px 12px
  display: inline-block
  border-radius: 3px
  font-weight: $font-weight-bold
  text-transform: uppercase
  color: white

  &.btn-light
    border: 2px solid white

  &.btn-primary
    background: $teal

  &.btn-small
    margin: 10px 0
    padding: 8px 15px 10px