block footer
  footer.site-footer
    nav.nav-footer
      a(href='#top') jQuerySF
      a(href='https://twitter.com/jquerysf') @jQuerySF
      a(href='mailto:jquerysf@famo.us' title='Email us at jquery@famo.us') Contact Us
      a(href='http://eepurl.com/bbi5Jz') Get updates