html(land="en")
  head
    include ./head.jade

  body

    // Main navigation
    include ./nav.jade
    
    block content
    
    // Footer
    include ./footer.jade

    //scripts
    include ./scripts.jade