nav.nav-main.cf
  a.home(href='/')
    img(src='../images/jqsf-logo.svg')

  label.reveal-nav-btn(for='reveal-nav')
  input.reveal-nav-input(type='checkbox' id='reveal-nav')

  .nav-main-list
    a.main-nav-link(href='/agenda.html') Agenda
    a.main-nav-link(href='/location.html') Location
    a.main-nav-link(href='/coc.html') CoC
    a.btn.btn-ticket(href='https://ti.to/jquerysf/2015') Buy Tickets