nav.nav-main.cf
  a.home(href='/')
    img(src='../images/jqsf-logo.svg')

  label.reveal-nav-btn(for='reveal-nav')
  input.reveal-nav-input(type='checkbox' id='reveal-nav')

  .nav-main-list
    a.main-nav-link(href='/schedule.html') Talks
    a.main-nav-link(href='/tickets.html') Tickets
    a.main-nav-link(href='/location.html') Location
    a.main-nav-link(href='/coc.html') CoC
    //- a.main-nav-link(href='#accessibility') Accessibility
    
    //- a.main-nav-link(href='#organizers') Organizers
    //- a.main-nav-link(href='#sponsors') Sponsors