// Footer section

.site-footer
  background:$background-secondary
  padding: 30px 20px

  a
    display: inline-block
    color:$foreground-secondary
    font:$fonts-regular
    font-size: 14px
    margin: 0 20px

    &:hover
      color:$foreground-tertiary
      opacity:1

  @media screen and (max-width: $small-width)
    a
      margin:0 10px
      margin-bottom:10px
    padding-bottom: 60px
