// Galleries section

.galleries
  padding: 0
  background: linear-gradient(to right, $orange 50%,
                                        $grey-drk 50%)
  text-align: left
  color: white

  .column
    padding: 40px

  // Single column, each column with a background color
  @media screen and (max-width: $small-width)

    .column
      &:first-child
        background: $orange
      &:last-child
        background: $grey-drk

  // Two columns wide
  @media screen and (min-width: $small-width + 1px)

    .column
      width: 50%