// Hero section

.hero
  min-height: 500px
  padding: 20px
  background: url(../images/hero-san-fran.jpg) no-repeat center center
  background-size: cover
  color: white

  .nav-main
    text-align: right
    font-weight: $font-weight-bold

    a
      margin-left: 15px
      display: inline-block
      color: white

      &.home
        margin-left: 0
        float: left

  h2
    font-style: italic

  .container
    margin-top: 60px

  .date
    margin-top: 50px
    font-size: 40px

  .location
    font-size: 24px