// Main nav

.nav-main
  width: 100%
  padding: 0 125px
  position: fixed
  top: 0
  height:$nav-height
  z-index: 10
  background: $colors-nav-background
  text-align: right
  border-bottom:1px solid $colors-border

  .nav-main-list
    font:$fonts-nav
    font-size:18px
    color:$colors-nav-foreground
    text-transform: lowercase
    float:right
    centerVertical()

  a
    margin-left: 15px
    display: inline-block
    color: $colors-nav-foreground

    &.home
      centerVertical()
      margin-left: 0
      float: left

  .reveal-nav-btn
    width: 36px
    height: 30px
    display: none
    {centerVert}
    right: 30px
    border: 2px solid black
    border-radius: 3px
    color: white
    font-size: 14px
    text-transform: uppercase
    cursor: pointer

    // Hamburger mixin
    hamburger(color)
      background: color
      box-shadow: 0 -6px 0 color,
                  0  6px 0 color

    // Hamburger
    &:before
      width: 20px
      height: 2px
      display: block
      {centerBoth}
      content: ''
      hamburger(black)

    &:hover
      background: grey

      &:before
        hamburger($grey-drk)

  .reveal-nav-input
    position: absolute
    display: none
    visibility: hidden

  @media screen and (max-width: $medium-width)

    padding: 0 10vw

    .nav-main-list
      width: 100%
      display: none
      background: black
      position: absolute
      top: 100%
      left: 0

      a
        margin-left: 0
        padding: 8px 30px
        display: block
        text-align: left

        &:not(:last-child)
          border-bottom: 1px solid #222

        &:hover
          background: black

    .reveal-nav-btn
    .reveal-nav-input
      display: inline-block

    .reveal-nav-input:checked + .nav-main-list
      display: block

  @media screen and (max-width: $small-width)

    padding: 0 30px