// Schedule section

.schedule

  .container
    text-align: left

  .slot
    padding: 10px

    &:not(:last-child)
      border-bottom: $grey-border

  .time,
  .title
    display: block
    float: left

  @media screen and (max-width: $medium-width)

    .time
      width: 100px
    .title
      width: calc(100% - 100px)

  @media screen and (min-width: $medium-width + 1px)

    .time
      width: 150px
    .title
      width: calc(100% - 150px)