// Schedule section

.schedule

  .container
    text-align: left

  .slot
    padding: 10px

    &:not(:last-child)
      border-bottom: $grey-border

  .time
    width: 150px
    display: inline-block