.heading
  position:relative
  margin-top:$nav-height
  padding:70px
  background: $colors-secondary-heading-background

  h2
    font:$fonts-secondary-heading
    font-size:48px
    color:$colors-secondary-heading-foreground
    text-transform:lowercase
    letter-spacing: normal
    padding-bottom:20px
    display:inline-block
