// Social section

.social
  padding: 10px 20px 0

  .subscribe,
  .social-links
    display: inline-block
    vertical-align: middle

  .social-links
    padding-top: 2px

    a
      display: block
      color: $grey-drk
      font-weight: $font-weight-bold

    .twitter
      padding: 12px 20px 11px 50px
      background: $grey-light url(../images/twitter-logo.svg) no-repeat 15px center
      background-size: 24px 20px
      border-radius: 4px

  @media screen and (max-width: $small-width)

    .subscribe,
    .social-links
      margin: 5px

  @media screen and (min-width: $small-width + 1px)

    text-align: right

    .social-links
      margin: 10px