// Social section

.social
  padding: 10px 15px
  background: $grey-light

  .subscribe
    input, .btn
      display: inline-block
      vertical-align: middle

  .social-links
    padding: 4px

  .social-links

    a
      display: block
      color: $grey-drk
      font-weight: $font-weight-bold

    .twitter
      padding: 5px
      padding-left: 30px
      background: $grey-light url(../images/twitter-logo.svg) no-repeat 0 center
      background-size: 24px 20px
      border-radius: 4px

  @media screen and (max-width: $small-width)

    text-align: left

    .subscribe
      input
        width: 55%
      .btn
        width: 43%
        margin-left: 2%

    .social-links
      margin-bottom: 10px
      display: inline-block

  @media screen and (min-width: $small-width + 1px)

    .social-links
      float: left
    .subscribe
      float: right