// Social section

.social
  padding: 10px 20px 0

  .subscribe,
  .social-links
    float: right

  .social-links
    margin: 10px
    padding: 12px 20px
    background: $grey-light
    font-size: 12px