// Talks section

.talks

  .keynotes
    max-width: 500px
    margin: 0 auto

    h3
      text-align: left

  // Single column, avatar at left
  @media screen and (max-width: $small-width)

    .session,
    .keynotes
      margin-top: 30px

    .speaker
      width: 100%
      padding: 10px 15px
      text-align: left

    .avatar
      width: 100px
      margin-right: 15px
      float: left
      border-radius: 3px

  // Two keynote speakers wide, avatar above
  // One session wide, three speakers wide, avatar above
  @media screen and (min-width: $small-width + 1px)

    .keynotes,
    .session
      margin-top: 30px
      margin-bottom: 20px

    .keynotes .speaker
      width: 50%

    .session .speaker
      width: 33.33%

    .speaker
      padding: 20px

    .avatar
      margin-bottom: 5px
      border-radius: 50%

  // Two sessions wide
  @media screen and (min-width: $medium-width)

    .keynotes
      margin-top: 50px