// Tickets section

.tickets

  .container
    text-align: left

  h3
    margin-top: 20px
    padding: 5px 15px
    background: $grey-light
    text-align: left

  .ticket
    padding-left: 15px

    &:not(:last-child)
      border-bottom: $grey-border

    p
      margin-top: 20px
      float: left

    .btn
      float: right

    // Sold out styling
    &.sold-out
      p
        opacity: .4

        &:after
          content: ' - Sold out'

      .btn
        background: #ccc

        &:hover
          cursor: default
          opacity: 1

  @media screen and (max-width: $small-width)

    .column
      width: 100%

  @media screen and (min-width: $small-width + 1px)

    .column
      width: 48%

      &:nth-child(odd)
        margin-right: 2%
      &:nth-child(even)
        margin-left: 2%