// Tickets section

.tickets

  .container
    text-align: left

  .ticket
    padding-left: 15px

    &:not(:last-child)
      border-bottom: $grey-border

    p
      margin-top: 20px
      float: left

    .btn
      float: right

    // Sold out styling
    &.sold-out
      p
        opacity: .7

        &:after
          content: ' - Sold out'

      .btn
        background: #ccc
        box-shadow: none
        border: none

        &:hover
          cursor: default
          opacity: 1
          
    // not on sale styling
    &.not-on-sale
      p
        opacity: .7

      .date
        float: right
        box-shadow: none
        border: none
