// Values section

.values
  padding: 0
  background: linear-gradient(to right, $orange 50%,
                                        $teal 50%)
  text-align: left
  color: white

  .column
    padding: 30px

  // Single column, each column with a background color
  @media screen and (max-width: $small-width)

    .column
      &:first-child
        background: $orange
      &:nth-child(2)
        background: $grey-drk
      &:last-child
        background: $teal

  // Three columns wide, container sets background colors
  @media screen and (min-width: $small-width + 1px)

    .container
      background: linear-gradient(to right, transparent 33.33%,
                                            $grey-drk 33.33%,
                                            $grey-drk 66.66%,
                                            transparent 66.66%)

    .column
      width: 33.33%
      padding-bottom: 50px