// Values section

.values

  .container
    margin:0 auto
    max-width:$max-width

  .column
    padding: 50px
    float:left

    h2
      font:$fonts-values-heading
      color:$colors-values-heading
      font-size:36px
      text-align:center
      text-transform: lowercase

    p
      font:$fonts-values-body
      color:$colors-values-body
      font-size:14px

  // Single column, each column with a background color
  @media screen and (max-width: $small-width)

    .column
      padding:30px

  // Three columns wide, container sets background colors
  @media screen and (min-width: $small-width + 1px)

    .column
      width: 33.33%
      padding-bottom: 50px