//- Venue

.venue
  min-height: 450px
  padding: 0
  position: relative
  color:$colors-venue-foreground
  background: $colors-venue-background
  text-align: left

  .container
    margin-top:60px
    display:table
    width:100%

    .column
      display:table-cell
      min-height:450px
      height:490px
      width:50%
      vertical-align:top

      &.location
        background:$colors-venue-location-background
        text-align:center
        vertical-align: middle

        h3
          font:$fonts-venue-primary
          font-size:30px
          text-transform:uppercase
          span
            display:block
            font:$fonts-venue-secondary
            font-size:60px

        hr
          margin:40px auto 50px
          background:$foreground-tertiary
          height:1px
          width:100px

        a
          padding:20px 100px
          font:$fonts-venue-button
          font-size:27px
          color:$colors-venue-location-background
          background:$colors-venue-foreground
          text-transform:lowercase

      #map-canvas
        height:100%

  /**
  * Google maps styles replaced
  */
  .venue-marker
    color: black
    .venue-name
      margin-bottom: 0
      font-size: 16px
      font-weight: bold
    .venue-address
      margin-bottom: 5px
      font-size: 14px

  /**
  * Mobile styles
  */
  @media screen and (max-width: $medium-width)
    .container
      margin-top:0
      .column
        width:100%
        height:300px
        display: block
        &.location
          padding-top:60px

  @media screen and (max-width: $small-width)
    .container
      .column
        &.location
          a
            padding:10px 20px
