// Workshops section

.workshops
  background: $grey-light

  .workshop
    margin-top: 20px

  // Two columns wide, center aligned
  @media screen and (min-width: $small-width)

    .workshop
      width: 50%
      padding: 20px

      &:nth-child(2n+1)
        clear: left

  // Four columns wide, left aligned
  @media screen and (min-width: $medium-width)

    .workshop
      width: 25%
      text-align: left

      &:nth-child(2n+1)
        clear: none